<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Twitter Client UI in CSS + HTML</title>
    
    <link rel="stylesheet" href="/../css/reset.css">
    <link rel="stylesheet" href="/../css/style.css">

    <link href="/../lib/ionic/css/ionic.css" rel="stylesheet">
    
    
  </head>

  <body>

    <!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Twitter Client</title>
   	<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    
</head>
<body >
	
		<span class="first"> 
			@Test Timeline
			<span class="icon-edit new"></span>
			<!-- <span class="icon-star"></span> -->
		</span>
		<br>

		<ul class="timeline" ng-controller="writedb"> 
		<label class="item item-input item-floating-label" >

    	<form method="get" ng-submit="wQuery()">
  		  <input type="text" placeholder="What's on your mind ?" ng-model="content">
  		  <br>
  		  <button class="button button-small button-dark" style="float: right;" 
        >
  			post
		    </button> 
	   	</form>

  		</label>
 		</ul>

	</div>
</body>
</html>
  </body>
</html>
